*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
}
 :root {
    --font-display: font-family: 'Archivo Black', sans-serif;
    --font-text-400:
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;;
    --font-text-600:
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    --background-color: #E5E7E9;
    --header-footer-color: #2C2C2B;
    --gold: #F9C842;
    --white: #C9C3B9;
 }
body {
    background-color: var(--header-footer-color);
    font-family: var(--font-text-400);
    ba
}

/*  Header Section */
header{
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 111px;
}
/* Logo */
header h1 {
    color: var(--gold);
    font-family: var(--font-display);
    padding-left: 60px;
    letter-spacing: 4px;
}
/* header links */
.header-links{
    padding-right: 40px;
}
.header-links a:hover {
    color: var(--gold);
    text-decoration: underline white;
}
.header-links a {
    text-decoration: none;
    padding: 50px;
    font-family: var(--font-text-400);
    font-size: 20px;
    color: var(--white);
}
#home {
    color: var(--gold);
    text-decoration: underline white;
}
/* main content */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img {
    flex: 1 1 60%;
}
.hero-img img {
    width: 100%;
    height: 740px;
    position: relative;
    bottom: 10px;
}
.login-container {
    flex: 1 1 40%;
}
.login-container  {
    width: 110%;
    height: 730px;
    background-color: var(--header-footer-color);
    position: relative;
    bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 70px;
    
}

.login-container h1 {
    font-size: 3em;
    letter-spacing: 5px;
    position: relative;
    bottom: 100px;  
    color: var(--white);  
}

.login-container input {
    width: 250px;
    height: 50px;
    border: none;
    background-color: #000000;
    padding: 20px;
    margin-top: 30px;
    color: var(--white);
    border-bottom: 1.5px solid var(--white);
}

.login-container button {
    text-decoration: none;
    font-size: 15px;
    background-color: var(--gold);
    padding: 10px 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
    color: black;   
    margin-top: 40px;    
}

.login-container a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--white);
    margin-left: 25px;

}

.login-container a:hover {
    color: var(--gold);
    text-decoration: underline;
}

.card {
    height: 80px;
    width: 80%;
    background-color: white;
    padding: 60px;
    margin-top: 60px;
    position: relative;
    left: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}
.card h2 {
    margin-bottom: 20px;
}
/*  footer */

footer {
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: space-around;
    
    
}

.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    position: relative;
    
    
}
.maps p {
    color: var(--white);
}
.contact {
    margin-top: 90px;
    font-size: 1.2em;
    line-height: 50px;
    right: 80px;
    color: var(--white);
    position: relative;

}
.information {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    margin-top: 95px;
    font-size: 1.4em;
    position: relative;
    right: 80px;
    color: var(--white);
}
.information a {
    text-decoration: none;
    color: var(--white);
}
.information a:hover {
    color: var(--gold);
    text-decoration: underline white;
}
.company{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    margin-top: 95px;
    font-size: 1.4em;
    position: relative;
    right: 80px;
    color: var(--white);
}
.company a {
    text-decoration: none;
    color: var(--white);
}
.company a:hover {
    color: var(--gold);
    text-decoration: underline white;
}
.socials {
    display: flex;
    flex-direction: column;
    
    margin-top: 50px;
    padding: 20px;
    width: 100px;
}

@media screen  and (max-width:1500px) {
    .hero-img img{
        width: 700px;
    }
    .content h1{
        font-size: 2.2em;
    }
    .content h3 {
        font-size: 1.9;
    }
    .content p {
        font-size: 1em;
    }
    .company {
        position: relative;
        left: 20px;
    }
    .information {
        position: relative;
        left: 0px;
    }
    .contact {
        position: relative;
        left: -20px;
    }
}

/* Max width 1250px */
@media screen and (max-width:1250px){
    .hero-img img{
        width: 500px;
        height: 400px;
    }
    .content .info a{
        position: relative;
        top: 20px;
    }
    .card img {
        width: 380px;
        height: 280px;
    }
    .company h3 {
        font-size: 0.9em;
    }
    .company a{
        font-size: 0.7em;
    }

    .information h3 {
        font-size: 0.9em;
    }
    .information a{
        font-size: 0.7em;
    }

    .contact h3 {
        font-size: 0.9em;
    }
    .contact p{
        font-size: 0.7em;
    }
    .maps-1 {
        display: none;
    }
}
/* Hiding the second map with min width */
@media screen and (min-width:1250px){
    .maps-2 {
        display: none;
    }
    
}

/* Hiding the dropdown menu after 1100 px */

@media screen and (min-width:1100px){
    .drop-down {
        display: none;
    }
}

/* Responsive at 1100px */

@media screen and (max-width:1100px){
    .header-links a {
        display: none;
    }
    #home-2 {
        color: var(--gold);
        text-decoration: underline;
    }
    .drop-down {
        position: relative;
        right: 80px;
        display: inline-block;
        justify-content: right;
    }
    .drop-down a {
        font-size: 20px;
        text-decoration: none;
        color: var(--white);
    }
    .drop-content {
        display: none;
        position: absolute;
    }
    .drop-down:hover .drop-content {
        display: block;
        background-color: var(--header-footer-color);
        padding: 20px 0px 20px 20px;
        line-height: 70px;
        width: 120px;
    }
    .drop-down .drop-content a:hover {
        color: var(--gold);
        text-decoration: underline;

    }

}



/* hiding a map to put up another smaller one */
@media screen and (min-width: 880px){
    .maps-3 {
        display: none;
    }
    
}
@media screen and (max-width:880px){
    .maps-2 {
        display: none;
    }
    .maps-3 {
        position: relative;
        top: 20px;
    }
    .maps-3 p {
        position: relative;
        top: 60px;
    }
   
}





/* responsive at 320px */

@media screen and (max-width:320px){
    header .logo h1 {
        font-size: 20px;
        position: relative;
        right: 20px;
    }    
    .drop-down {
        position: relative;
        left: -10px;
    }
    .contact{
        position: relative;
        bottom: 80px;
        
    }
    .contact h3{
        font-size: 15px;
    }
    .contact p {
        font-size: 10px;
    }
    .information {
        position: relative;
        bottom: 80px;
        
    }
    .information h3 {
        font-size: 15px;

    }
    .information a {
        font-size: 10px;
    }
    .company {
        position: relative;
        bottom: 80px;
        right: 20px;
    }
    .company h3 {
        font-size: 15px;
    }
    .company a {
        font-size: 10px;
    }
    .socials{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: -2800;
        right: 170px;
        margin-top: 200px;
    }
}
